// Global Foundation Settings
@import "settings";

// Comment out this import if you don't want to use normalize
@import "normalize";

// Comment out this import if you are customizing you imports below
@import "foundation";


.feature {
  input {
    background-color: transparent;
    border: none;
    box-shadow: none;
    display: inline;
    font-weight: bold;
    padding: 3px 7px;
    text-align: left;
    width: auto;
    &:focus {
      background-color: #fff;
    }
  }
}
.magnet {
  input {
    background-color: transparent;
    border: none;
    box-shadow: none;
    display: inline;
    font-weight: bold;
    padding: 3px 5px;
    text-align: left;
    width: auto;
    &:focus {
      background-color: #fff;
    }
  }
}

#header {
  background: #41484D;
  -moz-box-shadow:    0px 2px 3px 0px rgba(0,0,0,0.29);
  -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.29);
  box-shadow:         0px 2px 3px 0px rgba(0,0,0,0.29);
  color: #CCD18E;
  h1 {
    font-size: 24px;
    color: #CCD18E;
    line-height: 28px;
    margin-top: 10px;
  }
}


#feature-builder {
  background: #EEEFF2;
}
.feature-output {
  background: #FFFFFF;
  -moz-box-shadow:    inset 0px 2px 2px 0px rgba(0,0,0,0.29);
  -webkit-box-shadow: inset 0px 2px 2px 0px rgba(0,0,0,0.29);
  box-shadow:         inset 0px 2px 2px 0px rgba(0,0,0,0.29);
  padding-top: 30px;
  padding-bottom: 30px;
}


#magnets {
  background: #31373B;
  padding: 0;
}
.magnet-section-title {
  -moz-box-shadow:    inset 3px 0px 3px 0px rgba(0,0,0,0.18);
  -webkit-box-shadow: inset 3px 0px 3px 0px rgba(0,0,0,0.18);
  box-shadow:         inset 3px 0px 3px 0px rgba(0,0,0,0.18);
  color: rgba(0,0,0,0.35);
  font-size: emCalc(24px);
  padding: 10px emCalc(15px) !important;
  margin: 0 0 emCalc(15px);
}
.magnet-list {
  list-style-type: none;
  padding: 10px emCalc(15px) !important;
  .remove-magnet {
    display:none;
  }
}
.magnet {
  border-radius: 3px;
  background: #EEEFF2;
  border: 1px solid rgba(0,0,0,0.35);
  color: #31373B;
  cursor: move;
  font-size: emCalc(12px);
  margin-bottom: 5px;
  padding: emCalc(10px) emCalc(20px) emCalc(10px) emCalc(10px);
  position: relative;
  span {
    display: block;
    height: 100%;
    line-height: 0;
    overflow: hidden;
    padding: 0 5px;
    position: absolute;
    right: 0;
    top: 0;
    min-width: emCalc(10px);
    img {
      cursor: pointer;
      margin-top: -6px;
      position: relative;
      top: 50%;
      &:hover {
        top: -35px;
        text-indent: -9999px;
      }
    }
  }
  &.given {
    span {
      background-color: #6EBB9B;
    }
  }
  &.when {
    span {
      background-color: #FCAA78;
    }
  }
  &.then {
    span {
      background-color: #D58477;
    }
  }
  &:hover {
    background-color: #fff;
  }
}
#givens {
  .magnet-section-title {
    background: #6EBB9B;
  }
}
#whens {
  .magnet-section-title {
    background: #FCAA78;
  }
}
#thens {
  .magnet-section-title {
    background: #D58477;
  }
}

#scenario-template {
  display: none;
}
.scenario {
  border-top: 2px dotted #979797;
  margin-top: 25px;
  padding-top: 25px;
}
.scenario-steps {
  @extend .magnet-list;
  background: #fff;
  border-radius: 3px;
  -moz-box-shadow:    0px 0px 4px 0px rgba(0,0,0,0.29);
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.29);
  box-shadow:         0px 0px 4px 0px rgba(0,0,0,0.29);
  .remove-magnet {
    display: inline;
  }
}

.scenario-new {
  background-color: #9B9B9B;
  margin-right: 30px;
}

#rendered-feature {
  padding: 10px;
  background: #fff;
  border-radius: 3px;
  -moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.29);
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.29);
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.29);
  margin-bottom: 20px;
}